---
import { Header } from 'ui-components';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<Header
		logo='https://mi.corzzofit.com/images/logo.png',
		links={[
			{
				text: 'Home',
				href: '/'
			},
			{
				text: 'About Me',
				href: '/'
			}
		]},
	/>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
	*, html, body {
		box-sizing: border-box;
		padding: 0;
		margin: 0;

		font-family: 'Roboto', sans-serif;

		.standard-block {
			width: 100%;
			min-height: 30vh;
		}
	}
</style>
